.news{
    background-color: #fff;
    .posts{
        .image{
            position: relative;
        }img{
            width: 100%;
            border-radius: 8px;
        }.date{
            text-align: center;
            background-color: $primary-color;
            position: absolute;
            top: -12px;
            right: 0px;
            color: #fff;
            border-radius: 0 0 25px 25px;
        }h4{
            font-size: 20px;
            line-height: 150%;
        }p{
            opacity: 0.7;
            font-size: 16px;
            line-height: 160%;
        }
    }
    .more{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color:$primary-color;
        font-weight: 700;
        font-size: 25px;
    }    
    @media screen and (max-width:$large-breakpoint) {
        font-size: 18px;
        .posts{
            .cart{
                margin-bottom: 20px;
            }.date{
                right: 15px;
            }
        }
    }


}

.events{
    color: #fff;
    .event{
        font-family: Roboto, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: $primary-color;
        padding: 30px 44px;
        border-radius: 8px;
        .next-events{
            font-size: 16px;
            letter-spacing: 2px;
            position: relative;
            &::after{
                content: "";
                width: 3rem;
                height: 1.5px;
                position: absolute;
                top: 50%;
                left: 40%;
                background-color: #fff;
            }
        }.desc{
            font-weight: 700;
            font-size: 28px;
            font-family: 'Nunito Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }.date{
            font-weight: 500;
            margin-top: -10px;
            // background-color: blue;
            .day{
                font-size: 48px;
                // background-color: orange;
                //padding: 0;
            }
            .month{
                font-size: 16px;
                letter-spacing: 2px;
            }
        }
    }
    @media screen and (max-width:$large-breakpoint) {
        .event{
            .next-events{
                &::after{
                    left: auto;
                    right: 1%;
                }
            }.desc{
                font-size: 18px;
            }
        }
    }
}