// variable
$primary-color : #ce0033;
$large-breakpoint: 1200px;

@mixin px-to-rem($prop, $value) {
    #{$prop}: ($value * 0.0625) + rem;
}

.btn{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    background-color: $primary-color;
}

.sec-title{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: $primary-color;
    margin: 56px 0;
    @media screen and(max-width:$large-breakpoint) {
        font-size: 30px;
    }
}

.sec-title-v2{
    @extend .sec-title;
    text-align: left;
    &::after{
        content: "";
        display: block;
        height: 4px;
        margin: 10px 0;
        width: 10%;
        background-color: black;
    }
    @media screen and (max-width:$large-breakpoint) {
        font-size: 30px;
    }
}

.sec-subtitle{
    font-size: 40px;
    font-weight: 800;
    color: $primary-color;
    margin: 30px 0;
    @media screen and (max-width:$large-breakpoint) {
        font-size: 24px;
    }
}

.dropdown::after {
    content: "▼";
    margin: 0 5px;
    font-size: 12px;
    color: $primary-color;
}

%champ{
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 4px 4px 26px 1px #5E6D6C34;
    border-radius: 10px;
    &::placeholder{
        font-size: 18px;
        font-weight: 500;
    }
}

.w-100{
    width: 100%;
    height: auto;
}
