@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
 @media only screen and (max-width: 600px) {
    .bloc {
        width: 0px;
        height: 0px;
        background-color: #FFFFFF;
    }
    .barre{
        width: 60px; 
        height: 1px; 
        background-color: black;
    }
    .bouton1{
        background-color: #CE0033; 
        border-radius: 50%; 
        width: 40px; 
        height: 40px; 
        color: #FFFFFF; 
        border: #CE0033; 
        font-weight: bold; 
        font-size: 20px;
        margin-left: 40%;
    }
    .bouton2{
        border-radius: 50%; 
        width: 40px; 
        height: 40px; 
        color: #CE0033; 
        border-color: #CE0033; 
        font-weight: bold; 
        font-size: 20px;
        margin-left: 40%;
    }
    .btn-mon{
        background-color: #CE0033;
        color: #FFFFFF;
        border-radius: 40px; 
        width: 90px; 
        height: 40px;
        font-size: 15px;
    }
    p{
        font-size: 18px;
    }
    .image-apropos{
        width: 0px;
        height: 0px;
    }
    .image-reseau{
        background-color: #CE0033;
    }
    .bloc_parrain{
        margin-top: -18%;
    }
    .parrain{
        background-image: url(Images/bac1.png); 
        height: 349px;
    }
    .fleche{
        width: 15px; 
        height: 15px;
    }
    .Bu{
        background-color: #FFFFFF;
        color: #CE0033; 
        border-radius: 40px; 
        width: 100px; 
        height: 30px;
    }
    .espace{
        background-color: #CE0033; 
        text-align: center; 
        color: #FFFFFF; 
        height: 65px;
        margin-top: 23%;
    }
    .espace h1{
        font-weight: bold;
        font-size: 30px;
    }
    .page-footer{
         background-image: url(Images/Imgfooter.png);
        margin-top: 10px;
        height: 80%;
        color: #FFFFFF;
    }

    .page-footer p{
      font-size: 15px;
    }
    .page-footer h6{
        font-size: 17px;
    }
    .page-footer h1{
        font-size: 17px;
    }
    .page-footer img{
        width: 30px;
        height: 30px;
    }
    .carte{
        height: 33rem;
      }
      .date-fin{
          font-size: 12px;
      }
      h1{
          font-size: 34px;
      }
      h2{
          font-size: 21px;
          color: black;
          font-weight: bold;
      }
      h3{
          font-size: 20px;
          color: #CE0033;
          font-weight: bold;
      }
      .paragraphe-bouton{
          text-align: center;
      }
      .slide-parrains{
        margin-top: -28%;
    }
    .voir{
        color: #CE0033; 
        font-weight: bold;
        font-size: 15px;
        margin-left: 139px;
    }
} 
@media only screen and (max-width:1450px){
  .app{
      background-color: #CE0033;
  }
  .image-reseau{
      display: flex;
      background-color: #CE0033;
  }
  .image-apropos{
      width: 0px;
      height: 0px;
  }
}
@media only screen and (min-width: 600px) {
    .navbar{
        height: 97px;
        width: 100%;
    }
    .nav-item img{
        height: 30px;
        width: 30px;
    }
    .navbar-brand{
        height: 90px;
        width: 150px;
    }
    .nav-item a{
        font-size: 24px;
        font-weight: 900;
        color: black;
    }
    select.form-select.form-select-lg.mb-3.select.my-lg-5.my-md-0.my-sm-0 {
        border: none;
    }
    button.btn.btn-danger.btn-red {
        border-radius: 15px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    }
    a#active {
        color: #ec0033;
        border-bottom: 6px solid #ec0033;
        padding: 27px;
    }
    .bloc {
        margin-top: 7%;
        margin-left: -1px;
        margin-right: -7%;
        width: 100%; 
        height: 15px; 
        background-color: #A7ACB6;
    }
    .barre{
        width: 110px; 
        height: 2px; 
        background-color: black;
    }
    p{
        font-size: 25px;
    }
    .bouton1{
        background-color: #CE0033; 
        border-radius: 50%; 
        width: 70px; 
        height: 70px; 
        color: #FFFFFF; 
        border: #CE0033; 
        font-weight: bold; 
        font-size: 25px;
    }
    .bouton2{
        border-radius: 50%; 
        width: 70px; 
        height: 70px; 
        color: #CE0033; 
        border-color: #CE0033; 
        font-weight: bold; 
        font-size: 25px;
    }
    .btn-mon{
        background-color: #CE0033;
        color: #FFFFFF;
        border-radius: 40px; 
        width: 180px; 
        height: 50px;
        font-size: 25px;
    }
    .image-apropos{
        margin-top: -613px;
    }
    .image-reseau{
        z-index: 1;
        position: relative;
    }
    .bloc_parrain{
        margin-top: -18%;
    }
    .parrain{
        background-image: url(Images/bac1.png); 
        height: 549px;
    }
    .fleche{
        width: 30px; 
        height: 30px;
    }
    .Bu{
        background-color: #FFFFFF;
        color: #CE0033; 
        border-radius: 40px; 
        width: 200px; 
        height: 50px;
    }
    .espace{
        background-color: #CE0033; 
        text-align: center; 
        color: #FFFFFF; 
        height: 174px;
        margin-top: 5%;
    }
    .espace h1{
        font-weight: bold;
        font-size: 50px;
    }
    .page-footer{
        background-image: url(Images/Imgfooter.png);
        margin-top: 45px;
        height: 450px;
        color: #FFFFFF;
    }
    .page-footer p{
      font-size: 20px;
    }
    .carte{
      height: 44rem;
    
    }
    h1{
        font-size: 34px;
    }
    h2{
        font-size: 35px;
        color: black;
        font-weight: bold;
    }
    h3{
        font-size: 26px;
        color: #CE0033;
        font-weight: bold;
    }
    .slide-parrains{
        margin-top: -18%;
    }
    .voir{
        color: #CE0033; 
        font-weight: bold;
        margin-left: 18px;
    }
} 

.appel{
    color: #FFFFFF;
}

.card_lorem{
    color: #FFFFFF;
}
hr{
    background-color: #CE0033;
}
.date{
    color: #CE0033;
}

h6{
    font-size: 25px;
}
.btn-outline-simp{
    color: #FFFFFF;
    background-color: #CE0033;
}
.foot{
    background-color: #CE0033;
    height: 100px;
}
#slid1, #slid2, #slid3{
    background-color: #CE0033;
    border-radius: 50%;
    height: 15px;
}
.ima{
   border-radius: 2%;
}
#slid4, #slid5, #slid6{
    background-color: #CE0033;
    border-radius: 50%;
    height: 15px;
    margin-top: 12px;
}
#slid7, #slid8, #slid9{
    background-color: #CE0033;
    border-radius: 50%;
    height: 15px;
    margin-top: 12px;
}

#img-Video{
    border-radius: 10%;
    border-color: #CE0033;
}
 #Video{
    background-image: url(Images/simp12.jpg);
    border: #CE0033;
    height: 600px; 
    border-radius: 5%;
    border-bottom: 1rem #CE0033 solid;
    border-right: 1rem #CE0033 solid;
} 

 button{
     border: none;
 }
 .cerre{
    margin: -41px -145px;;
 }
 @media only screen and (max-width: 600px) {
    .cerre {
      margin: 0px 5px;
    }
    .demi{
        width: 0px;
        height: 0px;
    }
}
@media only screen and (max-width: 800px) {
    .cerre {
      margin: 0px 10px;
    }
    .demi{
        width: 0px;
        height: 0px;
    }
}

 @media only screen and (min-width: 320px) and (max-width: 600px) {
    .nav-item img {
        display: none;
    }

     .nav-item img{
         width: 30px;
         height: 30px;
     }
     .navbar-brand{
         width: 50%;
     }
} 
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .top-navbar{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .top-navbar .logo{
        width: 50%;
    }
    .top-navbar .logo img{
        height: 100%;
        width: 100%;
    }
    .top-navbar .recherche{
        display: none;
    }
    .dropbtn {
        background: none;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin-left: 100px;
    }
    .dropbtn img{
        width: 40px;
    }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ec0033}
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown:hover .dropbtn {
        background: none;
      }
      select#langue{
          display: none;
      }
      .contact{
          display: none;
      }
      .espace{
        background-color: #CE0033; 
        text-align: center; 
        color: #FFFFFF; 
        height: 55x;
        margin-top: 12%;
    }
    .espace h1{
        font-weight: bold;
        font-size: 30px;
    }
 }
 input, textarea{
     box-shadow:  2px 2px 4px black;;
 }